flask
geoip2
geopy
requests
gevent
dnspython
pylint
cyrtranslit
astral
timezonefinder==2.1.2
pytz
pyte
python-dateutil>=2.5.0,<=2.6.1
diagram
pyjq
scipy
numpy
pillow
babel
pylru
pysocks
supervisor
numba
emoji
grapheme
pycountry
