flask
geoip2
geopy
requests
gevent
dnspython
pylint
cyrtranslit
astral>=2.0,<=2.2
timezonefinder
pytz
pyte
python-dateutil>=2.5.0,<=2.8.1
diagram
pyjq
scipy
numpy
pillow
babel
pylru>=1.0.7,<=1.2.1
pysocks
supervisor
numba
emoji>=1.6.0,<=1.7.0
grapheme
pycountry
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability
yq
